extends ./layout.jade
block content
    // Header section
    header
      .header-content
        .header-content-inner
          h1#homeHeading #{dataList.header.heading}
          hr
          p
            | #{dataList.header.content}
          a.btn.btn-primary.btn-xl.page-scroll(href= dataList.header.link.href) #{dataList.header.link.content}
    // About Section
    section#about.bg-primary
      .container
        .row
          .col-lg-8.col-lg-offset-2.text-center
            h2.section-heading #{dataList.about.heading}
            hr.light
            p.text-faded
              | #{dataList.about.content}
            a.page-scroll.btn.btn-default.btn-xl.sr-button(href= dataList.about.link.href) #{dataList.about.link.content}
    // Service Section
    section#services
      .container
        .row
          .col-lg-12.text-center
            h2.section-heading #{dataList.services.heading}
            hr.primary
      .container
        .row
          each data in dataList.services.serviceBox
            .col-lg-3.col-md-6.text-center
              .service-box
                i.fa.fa-4x.fa-diamond.text-primary.sr-icons
                h3 #{data.heading}
                p.text-muted #{data.content}
    // Portfolio Section
    section#portfolio.no-padding
      .container-fluid
        .row.no-gutter.popup-gallery
          each data in dataList.portfolio
            .col-lg-4.col-sm-6
              a.portfolio-box(href=data.link)
                img.img-responsive(src=data.image, alt='')
                .portfolio-box-caption
                  .portfolio-box-caption-content
                    .project-category.text-faded
                      | #{data.category}
                    .project-name
                      | #{data.projectName}
    aside.bg-dark
      .container.text-center
        .call-to-action
          h2 Free Download at Start Bootstrap!
          a.btn.btn-default.btn-xl.sr-button(href='http://startbootstrap.com/template-overviews/creative/') Download Now!
    // Contact Section
    section#contact
      .container
        .row
          .col-lg-8.col-lg-offset-2.text-center
            h2.section-heading Let's Get In Touch!
            hr.primary
            p
              | Ready to start your next project with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!
          .col-lg-4.col-lg-offset-2.text-center
            i.fa.fa-phone.fa-3x.sr-contact
            p 123-456-6789
          .col-lg-4.text-center
            i.fa.fa-envelope-o.fa-3x.sr-contact
            p
              a(href='mailto:your-email@your-domain.com') feedback@startbootstrap.com 
    block footer
